[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "2.2.3"
pandas_ta = "0.3.14b0"
numpy = "1.26.4"
apscheduler = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.10"
