[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
vnstock = "<3.2"
pandas = "*"
pandas_ta = "*"
numpy = "<2.0"
apscheduler = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.10"
