<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>VNStock - Stocks</title>
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th,
        td {
            text-align: left;
            padding: 16px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <main>
        <section id="vnstock">
            <h2>VNStock</h2>
            <div>Last filtered: {{ last_filtered }}</div>
            <div>Total: <strong>{{ total }}</strong></div>
            {{ filtered_stocks|safe }}
    </main>

    <footer>
        <p>&copy; 2025 Hieu Nguyen. All rights reserved.</p>
    </footer>
</html>